$desktop: 1171px; // from
$tablet: 1023px;
$mobile: 767px;

$from_tablet: #{$tablet + 1px};
$from_mobile: #{$mobile + 1px};

@mixin --desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin --tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin --mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

// from
@mixin --from-tablet {
  @media (min-width: $from_tablet) {
    @content;
  }
}

@mixin --from-mobile {
  @media (min-width: $from_mobile) {
    @content;
  }
}

//only
@mixin --tablet-only {
  @media (min-width: $from_mobile) and (max-width: $tablet) {
    @content;
  }
}
