// --
// This file contains all application-wide Sass variables.
// ==

// regular font family
$font-main: 'Geometria', sans-serif !default;

// colors
$color_accent: #344887;
$color_accent_light: #5573d0;

$color_red: #344887;
$color_black: #343434;
$color_dark_grey: #6B6B74;
$color_white: #FFFFFF;
$color_light_grey: #F7F9FE;
$color_background: #F7F9FE;
$color_mid_grey: #e9eef5;
$color_grey_text: #A2A2A2;
$color_grey_border: #D9D9D9;

// container
$width_container: 120rem;
$width_container_tablet: calc(100% - 8rem);
$width_container_mobile: calc(100% - 4rem);

$width_container_small: 99.4rem;

// section


// main


// gutters
$width_gutter: 1.6rem;


