@mixin vuetifyTable {
  > .v-data-table__wrapper > table {

    > thead {
      > tr {
        > th {
          @include text-button-small;
          height: 4.8rem;
          color: $color_dark_grey !important;
          font-weight: normal;
        }
      }
    }

    > tbody {
      > tr {
        &:not(.v-row-group__header) {
          background-color: transparent !important;
        }

        &.v-row-group__header {
          font-weight: 700;
        }

        td {
          @include text-button-small;
          height: 4.8rem;
          font-weight: normal;
          text-transform: none;
        }
      }
    }
  }
}
