// arrow down mixin; arrow up when element have class .is-active or .-active
// how to use:
// @include arrow-down(10px, 2px, #fff);
@mixin arrow-down($size: 10px, $width: 2px, $color: #000) {
  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: #{$size};
    height: #{$size};
    margin-top: calc(#{$size} * 1.41 / 2 * -1);
    margin-right: calc(#{$size} / 5);
    border-right: $width solid $color;
    border-bottom: $width solid $color;
    transform: rotate(45deg);
    transition: transform .25s, margin-top .2s;
    content: '';

    @content;
  }

  &.is-active,
  &._active {
    &::after {
      margin-top: calc(#{$size} * 1.41 / 2 * -1 + #{$size}/ 2);
      transform: rotate(-135deg);
    }
  }
}
