@mixin hover-opacity {
  transition: opacity 0.3s ease;

  @include hover {
    opacity: 0.7;
  }
}

@mixin hover-color-accent {
  transition: color 0.3s ease;

  @include hover {
    color: $color_accent;
  }
}

@mixin hover-accent-light {
  transition: color 0.3s ease;

  @include hover {
    color: $color_accent_light;
  }
}
