@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;       /* roundness of the scroll thumb */
    background-color: rgba(#4E4E4E, 0.7);    /* color of the scroll thumb */
  }
}

@mixin scrollbarHidden {
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
  }
}
