// --
// base
// ==
*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.hidden,
[hidden] {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

// --
// base styles
// ==

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  margin: 0;
  color: $color_black;
  font-family: $font-main;
}

html {
  font-size: 62.5%;
  background: $color_white; // in some versions Opera background is black by default

  @media screen and (max-width: 767px) {
    font-size: calc(10px + 13 * (100vw - 375px) / 447);
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: calc(10px + 4 * (100vw - 768px) / 255);
  }

  @media (min-width: 1024px) and (max-width: 1360px) {
    font-size: calc(8px + 2 * (100vw - 1024px) / 336);
  }
}

body {
  @include scrollbar;
  @include text;
  background: $color_background;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  &._IE {
    overflow-x: visible;

    .main {
      flex: none;
    }
  }
}

.dg.ac {
  z-index: 1000000 !important;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;

  //&._default {
  //  padding-top: 14rem;
  //}
}

.page {
  &__back {
    @include container;
    display: block;
    margin: 6rem auto 0;

    @include --mobile {
      margin-top: 4.2rem;
    }

    > * {
      width: fit-content;
    }
  }
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

strong,
b {
  font-weight: 700;
}

/* stylelint-disable */
video {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
/* stylelint-enable */

a {
  color: inherit;
  text-decoration: none;
}

button,
label {
  cursor: pointer;
}

img {
  display: block;
}

button,
input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(201, 224, 253, 0.8);
}

[class^='_icon'] {
  display: block;
}

h1,
._visually-h1 {
  @include h1;
}

h2,
._visually-h2 {
  @include h2;
}

h3,
._visually-h3 {
  @include h3;
}

h4,
._visually-h4 {
  @include h4;
}

h5,
._visually-h5 {
  @include h5;
}

h1,
._visually-h1,
h2,
._visually-h2,
h3,
._visually-h3,
h4,
._visually-h4,
h5,
._visually-h5 {
  margin: 0;
}

a.doc {
  @include p;
  @include hover-underline;
  display: inline-flex;
  color: $color_grey_text;
  font-weight: 500;

  &::before {
    min-width: 2rem;
    max-width: 2rem;
    height: 2.6rem;
    margin-top: .3px;
    margin-right: 1.5rem;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 8.13V6.85L13.88.18V0H0v25.75h20V10.68h-1.83v13.25H1.83V1.83h10.22v6.3H20zm-6.12-5.2l3.1 3.37h-3.1V2.92z' fill='%23A2A2A2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
  }
}

a.lk-link {
  @include h5;
  @include hover-underline;
  display: inline-flex;
  align-items: center;

  @include hover {
    &::before {
      border-color: $color_black !important;
    }
  }

  &::before {
    min-width: 6rem;
    max-width: 6rem;
    height: 6rem;
    margin-right: 1.9rem;
    border: 1px solid #E9E8E9;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 29 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29 7.03L27.61 0l-7.05 1.4-2.83 4.2 3.82-.75-6.18 9.09-3.77-6.62H6.18L0 18h5.42l3.47-6 3.48 6H17.89l7.47-10.82.8 4.08L29 7.03z' fill='%23F32735'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.9rem 1.8rem;
    transition: border-color 0.3s ease;
    content: '';
  }
}
