// --
// base
// ==

* {
  @include scrollbar;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.hidden,
[hidden] {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

// --
// base styles
// ==

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  margin: 0;
  color: $color_black;
  font-weight: 300;
  font-family: $font-main;
}

html {
  font-size: 62.5%;
  background: $color_background; // in some versions Opera background is black by default

  @media screen and (max-width: 767px) {
    font-size: calc(10px + 13 * (100vw - 375px) / 447);
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: calc(10px + 4 * (100vw - 768px) / 255);
  }

  @media (min-width: 1024px) and (max-width: 1360px) {
    font-size: calc(8px + 2 * (100vw - 1024px) / 336);
  }
}

body {
  @include text;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;

  &._IE {
    overflow-x: visible;

    .main {
      flex: none;
    }
  }
}

.main {
  flex: 1 0 auto;

  &._default {
    padding-top: 13.9rem;
  }
}

.page {
  &__back {
    @include container;
    display: block;
    margin: 0 auto;
  }
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

strong,
b {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
label {
  cursor: pointer;
}

img {
  display: block;
}

button,
input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(201, 224, 253, 0.8);
}

[class^='_icon'] {
  display: block;
}

h1,
._visually-h1 {
  @include h1;
}

h2,
._visually-h2 {
  @include h2;
}

h3,
._visually-h3 {
  @include h3;
}

h4,
._visually-h4 {
  @include h4;
}

h5,
._visually-h5 {
  @include h5;
}

h1,
._visually-h1,
h2,
._visually-h2,
h3,
._visually-h3,
h4,
._visually-h4,
h5,
._visually-h5 {
  margin: 0;
}

