@import '../utils/breakpoints';

// --
// base
// ==

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.hidden,
[hidden] {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

// --
// base styles
// ==

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  margin: 0;
  color: $color_grey;
  font-weight: 300;
  font-family: $font-inter;
}

*::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;       /* roundness of the scroll thumb */
  background-color: rgba($color_grey, 0.7);    /* color of the scroll thumb */
}

html {
  font-size: 62.5%;
  background: #fff; // in some versions Opera background is black by default

  @media screen and (max-width: 767px) {
    font-size: calc(10px + 13 * (100vw - 375px) / 447);
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: calc(10px + 4 * (100vw - 768px) / 255);
  }

  @media (min-width: 1024px) and (max-width: 1360px) {
    font-size: calc(8px + 2 * (100vw - 1024px) / 336);
  }
}

body {
  font-size: 1.6rem;

  @include --mobile {
    font-size: 1.4rem;
  }
}

#app {
  min-height: 100vh;
  overflow-x: hidden;

  &._IE {
    overflow-x: visible;

    .main {
      flex: none;
    }
  }
}

//#app-content {
//  position: relative;
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//  min-height: inherit;
//}

main {
  &._default {
    padding-top: $padding_main_desktop;

    @include --tablet {
      padding-top: $padding_main_tablet;
    }
  }
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

strong,
b {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;

  &:not([class])[href^='geo'] {
    cursor: default;
  }
}

button,
label {
  cursor: pointer;
}

img {
  display: block;
}

button,
input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(201, 224, 253, 0.8);
}

[class^='_icon'] {
  display: block;
}

.visually-hidden {
  @include visually-hidden();
}

h1,
._visually-h1 {
  @include h1;
}

h2,
._visually-h2 {
  @include h2;
}

h3,
._visually-h3 {
  @include h3;
}

h4,
._visually-h4 {
  @include h4;
}

h1,
._visually-h1,
h2,
._visually-h2,
h3,
._visually-h3,
h4,
._visually-h4 {
  margin-top: 0;
  font-weight: 300;
}

p {
  @include p;
}

.mt-0 { // stylelint-disable-next-line
  margin-top: 0 !important;
}

.mb-0 {  // stylelint-disable-next-line
  margin-bottom: 0 !important;
}

//.loader {
//  @include loader02($size: 4.6rem, $duration: 1s, $align: middle, $color: $color_grey, $border-size: .8rem);
//  margin: 4rem auto;
//
//  @include --mobile {
//    //@include loader02($size: 5.6rem, $duration: 1s, $align: middle, $color: $color_grey, $border-size: 1rem);
//  }
//}
