// --
// fonts
// ==

/* stylelint-disable */
/**
 * Get font from path
 * '../fonts/$fontFolderName/$fontWeight.woff'
 * '../fonts/$fontFolderName/$fontWeight.woff2'
 * example @include font('Open Sans', 'OpenSans' 400); подключит '../fonts/OpenSans/400.woff'
 */
 @mixin font($fontFamily: '', $fontFolderName: '', $fontWeight: 400, $fontStyle: normal, $fontDisplay: swap) {
  @font-face {
    font-family: $fontFamily;
    src: url('~/assets/fonts/#{$fontFolderName}/#{$fontWeight}.woff2') format('woff2'),
    url('~/assets/fonts/#{$fontFolderName}/#{$fontWeight}.woff') format('woff');
    font-style: $fontStyle;
    font-weight: $fontWeight;
    font-display: $fontDisplay;
  }
}

@include font('Gerbera', 'Gerbera', 300);
@include font('Gerbera', 'Gerbera', 400);
@include font('Gerbera', 'Gerbera', 500);
@include font('Gerbera', 'Gerbera', 700);
/* stylelint-enable */
