/* Variables */
$listPadding: 2rem;

.html-content {
  @include containerInnerSmall;
  color: $color_black;

  //p,
  //h1,
  //h2,
  //h4,
  //ol,
  //ul {
  //  margin: 0;
  //}

  &._news {
    > div {
      @include p;
    }

    blockquote {
      @include p;
    }

    a {
      text-decoration: underline;
    }
  }

  p {
    @include p;
    //margin: 0;
  }

  a {
    @include hover-opacity;
    color: $color_accent;
  }


  > :not([class]),
  > a.doc {
    margin: 1.2em 0;

    @include --mobile {
      margin: 1em 0;
    }
  }

  img:not([class]) {
    display: block;
    max-width: 100%;
    height: auto;
  }

  > .attention {
    margin: 1.2em 0;
  }

  > table:not([class]),
  .table-scroll-wrap {
    margin: 4rem 0;

    @include --tablet {
      margin: 2.4rem 0;
    }
  }

  > :first-child {
    margin-top: 0 !important; /* stylelint-disable-line declaration-no-important */
  }

  > :last-child {
    margin-bottom: 0 !important; /* stylelint-disable-line declaration-no-important */
  }

  /* Lists */
  //h5 + ul:not([class]) {
  //  margin-top: -#{$marginBetweenElements - 1.5rem};
  //}

  ul:not([class]), ol:not([class]) {
    padding-left: $listPadding;

    li {
      @include p;

      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }

  ul:not([class]) {
    li {
      position: relative;

      &::before {
        position: absolute;
        top: 1rem;
        left: -$listPadding;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $color_accent;
        content: '';

        @include --mobile {
          top: 5px;
        }
      }
    }
  }

  ol:not([class]) {
    padding-left: $listPadding;
    counter-reset: item;

    > li {
      display: block;
      margin-left: 0;
      padding-left: 0;

      &::before {
        @include text-small;
        display: inline-block;
        width: $listPadding;
        margin-left: -$listPadding;
        color: $color_accent;
        content: counter(item) '.';
        counter-increment: item;
      }
    }
  }

  hr {
    height: 1px;
    margin: 2rem 0 !important; // stylelint-disable-line
    border: none;
    color: $color_grey_text;
    background-color: $color_grey_text;
  }

  .attention,
  .stage & blockquote:not([class]),
  .stage & blockquote.quote {
    @include h5;
    position: relative;
    min-height: auto;
    padding: 0 0 0 3.2rem;

    @include --mobile {
      padding-left: 2rem;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 6px;
      height: 100%;
      background: $color_accent;
      content: '';

      @include --mobile {
        width: 4px;
      }
    }
  }

  .table-scroll-wrap {
    overflow: scroll visible;

    table:not([class]) {
      margin: 0;
    }
  }

  table:not([class]) {
    width: 100%;
    border-collapse: collapse;

    thead {
      border-bottom: 1px solid $color_dark_grey;
      font-weight: 700;
      background-color: $color_background;

      td,
      th {
        padding: 2.5rem 2.1rem;

        @include --tablet {
          padding: 2rem;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $color_dark_grey;
      }

      td {
        padding: 3rem 2.1rem 3rem 2.1rem;

        @include --tablet {
          padding: 2rem;
        }
      }
    }

    td,
    th {
      text-align: left;
      vertical-align: text-top;

      &:not(:last-child) {
        border-right: 1px solid $color_dark_grey;
      }
    }
  }

  blockquote:not([class]),
  .quote {
    position: relative;
    z-index: 1;
    min-height: 12rem;
    margin-right: 0;
    margin-left: 0;
    padding: 3.4rem 0 0 10.1rem;

    @include --tablet {
      padding: 0;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 11.7rem;
      height: 8.9rem;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 117 89' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M96.14 44.85c4.01 1.17 7.66 3.39 10.96 6.66 3.3 3.27 4.95 8.17 4.95 14.71 0 6.55-2.24 12.03-6.72 16.47-4.47 4.2-10.01 6.31-16.6 6.31-6.84 0-12.62-2.22-17.33-6.66-4.48-4.44-6.71-10.04-6.71-16.82 0-5.6.82-10.4 2.47-14.36 1.89-3.97 4.24-8.41 7.07-13.32L95.79 0H117L96.14 44.85zm-64.68 0c4 1.17 7.66 3.39 10.96 6.66 3.3 3.27 4.95 8.17 4.95 14.71 0 6.55-2.24 12.03-6.72 16.47C36.17 86.9 30.63 89 24.04 89c-6.84 0-12.61-2.22-17.32-6.66C2.24 77.9 0 72.3 0 65.52c0-5.6.82-10.4 2.47-14.36 1.89-3.97 4.25-8.41 7.07-13.32L31.11 0h21.2L31.46 44.85z' fill='%23F4F4F6'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      content: '';

      @include --tablet {
        top: -1rem;
        left: -5rem;
      }
    }

    p {
      @include text;
      position: relative;
      z-index: 2;
      margin-bottom: 1em;

      @include --from-mobile {
        line-height: 2.7rem;
      }
    }

    footer {
      display: block;
      margin: 2.4rem 0 0 0;
      color: $color_grey_text;
      font-size: 1.5rem;
      line-height: 2rem;

      span {
        color: $color_accent;
      }
    }
  }
}
