._pointer {
  cursor: pointer;
}

._disabled {
  opacity: 0.5;
  pointer-events: none;
}

._hidden {
  visibility: hidden;
}

.accent-color-by-active {
  transition: color 0.3s ease;

  &._active {
    color: $color_accent;
  }
}
