.section {
  width: 100%;

  &._background {
    background-color: $color_white;
  }

  &__inner {
    @include container;
    @include padding-section;
    display: block;
    margin: 0 auto;
  }
}

.section-head {
  margin-bottom: 7.4rem;

  @include --tablet {
    margin-bottom: 3.8rem;
  }

  &__title {
    margin: 0;
  }
}
