.section {
  position: relative;
  width: 100%;

  &._background {
    background-color: $color_white;
  }

  &._background-absolute {
    position: relative;

    &::before {
      position: absolute;
      top: 70vh;
      left: 0;
      z-index: -1;
      width: 100%;
      height: calc(100% - 70vh);
      background-color: $color_white;
      content: '';
    }
  }

  &__inner {
    @include container;
    @include padding-section;
    display: block;
    margin: 0 auto;

    ._participation & {
      padding: 8.4rem 0 8.4rem 60rem;

      > * {
        @include --mobile {
          max-width: 75%;
        }
      }

      @include --tablet {
        padding-left: 36rem;
      }

      @include --mobile {
        padding: 26rem 0 6rem;
      }
    }
  }
}

.section-head {
  display: block;
  margin-bottom: 7.4rem;
  font-weight: 700;

  @include --tablet {
    margin-bottom: 3.8rem;
  }

  &__title {
    margin: 0;
  }
}
