.text-center {
  text-align: center !important;
}

.text-end {
  text-align: right !important;
}

.text-start {
  text-align: left !important;
}

.v-data-table > .v-data-table__wrapper > table {

  > thead {
    > tr {
      > th {
        height: 4.8rem !important;
        color: $color_dark_grey !important;
        font-weight: normal;
        font-size: 1.2rem !important;
        line-height: 1.6rem !important;
        text-transform: uppercase !important;

        @include --mobile {
          font-size: 1rem !important;
          line-height: 1.4rem !important;
        }


      }
    }
  }

  > tbody {
    > tr {
      &:not(.v-row-group__header) {
        background-color: transparent !important;
      }

      &.v-row-group__header {
        font-weight: 700 !important;
      }

      td {
        height: 4.8rem !important;
        font-weight: normal;
        font-size: 1.2rem !important;
        line-height: 1.6rem !important;

        @include --mobile {
          font-size: 1rem !important;
          line-height: 1.4rem !important;
        }
      }
    }
  }
}
